.wrapper{
    width:600px;
    height:600px;
    background-color:lightblue;
    margin-left:auto;
    margin-right:auto;
}

h1,h2{
    text-align:center;
}

.question{
   margin-top:30px;
   text-align:center;
   width:50%;
   border-color:black;
   border-width:thin;
   border-style:solid;
   margin-left:auto;
   margin-right:auto;
   padding:20px;
}

.boot{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
}

input[type="radio"] {
    margin:5px;
}